@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

.header-area {
    background: rgba(255, 144, 14, 0.1);
}

/* header area */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    text-align: center;
}

.logo h2 a {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    text-decoration: none;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    margin-left: 75px;
}

/* banner area */
.banner-area {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 30px 0;
}

.banner-btn {
    padding: 10px 20px;
    background: #FF900E;
    border-radius: 5px;
    color: #ffff;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.banner-img {
    margin-top: 50px;
    padding-bottom: 50px;
}

/* feature section start hare */
main {
    width: 1440px;
    margin: 0 auto;
}

.feature-section {
    margin-top: 90px;
}

.feature-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.banner-title h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.hadin-1 {
    color: #131313;
}

.hadin-2 {
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0;
}

/* feature enjoy */
.love-enjoy-section {
    margin-top: 130px;
}

.feature-enjoy {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.feature-detail {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 13px;
    margin-bottom: 20px;
}

.single-content {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.single-content h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.single-content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-enjoy-img {
position: relative;
}
.feature-enjoy-img button {
    background: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 18px 17px;
    position: absolute;
    left: -60px;
    bottom: -29px;
}

.exp {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}

.exp-p {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

/* some fact section start hear */
.Some-Facts-section {
    margin-top: 100px;
}

.Some-Facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-Some-Facts img {
    width: 48px;

}

.Some-Facts-content h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.Some-Facts-content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 20px 0 70px 0;
}

.single-Some-Facts {
    text-align: center;
    border: 2px solid #FF900E;
    padding: 20px;
    border-radius: 5px;
}

.single-Some-Facts:hover {
    background-color: blueviolet;
    border: 3px solid green;
}

.single-Some-Facts h4 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 10px 0;
}

.single-Some-Facts p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* sponser area */
.sponspors-section {
    margin-top: 150px;
}

.sponspors-content {
    text-align: center;
}

.sponspors-content h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sponspors-content p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 20px 0 100px 0;
}

.single-sponspors img {
    width: 153px;

}

.sponspors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* contact form */
.contact-section {
    margin-top: 100px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    display: flex;
    justify-content: center;
    gap: 337px;
}

.office-address h4 {
    font-size: 50px;
    margin-bottom: 40px;
}

.office-address p {
    font-size: 30px;
    font-weight: 600;
}

.contact-form form input {
    padding: 16px 46px;
    font-size: 24px;
    border: none;
    background: #FF900E;
    ;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #ffff;
}

/* footer section */
.footer-section {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 30px;
    margin: 100px;
}

.footer-section p {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    .menu ul{
        flex-direction: column;
    }
    .feature-area {
        flex-direction: column;
    }
    .feature-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
.feature-enjoy {
    flex-direction: column;
}
.Some-Facts {
    flex-direction: column;
}
.sponspors {
    flex-direction: column;
}
.contact-form {
    flex-direction: column;
}
}
